@import "./theme.rasi"

configuration {
    modes: "window,drun,run,ssh";
    font: "DepartureMono Nerd Font Mono 14";
    icon-theme: "pixelitos-dark";
    show-icons: true;
  timeout {
    action: "kb-cancel";
    delay: 0;
  }
  filebrowser {
    directory: "/usr/share/applications/";
    directories-first: true;
    sorting-method: "name";
  }
}

window {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    /* padding: 128px 256px; */
}

@media ( min-width: 1600px ) {
    window {
        padding: 64px calc((100% - 1600px) / 2);
    }
}

mainbox {
    background-color: transparent;
}

inputbar {
    background-color: @background-solid;
    text-color: @foreground;
    border-radius: 8px;
    padding: 16px;
    margin: 0 0 8px 0;
    /* children: [prompt,textbox-prompt-colon,entry,case-indicator]; */
}


case-indicator {
    text-color: @selected-foreground;
    background-color: transparent;
}


textbox {
    text-color: @foreground;
    background-color: @background-solid;
    padding: 16px;
}

listview {
    columns: 5;
    spacing: 16px;
    cycle: false;
    dynamic: false;
    layout: vertical;
    background-color: @background-solid;
    border: 0;
    border-radius: 8px;
    padding: 32px 32px 0 32px;
}

element {
    orientation: vertical;
    background-color: transparent;
    border-radius: 8px;
    padding: 32px;
}

element.normal.normal, element.alternate.normal {
    background-color: transparent;
    text-color: @foreground;
}

element-icon {
    size: 128px;
}

element-text {
    horizontal-align: 0.5;
    vertical-align: 0.5;
}

element.selected.normal, element.selected.active {
    background-color: @background-solid;
    text-color: @selected-foreground;
    border: 4px;
    border-color: @selected-border;
}

/* vim:ft=css
