@import "./theme.rasi"

configuration {
  modes: "window,drun,run,ssh";
  font: "JetBrainsMono Nerd Font Mono 14";
  show-icons: true;

  timeout {
    action: "kb-cancel";
    delay: 0;
  }

  filebrowser {
    directory: "/usr/share/applications/";
    directories-first: true;
    sorting-method: "name";
  }
}

* {
  text-color: @foreground;
  border-color: @border;
}

window {
  width: 36em;
  height: 24em;
  padding: 0.5em;
  border: 2px;
  background-color: @background-transparent;
  transparency: 'background';
}

mainbox {
  spacing: 0.25em;
}



inputbar {
  background-color: @background;
  border: 2px;
  padding: 0.5em;
  children: [prompt, textbox-prompt-colon, entry, case-indicator];
}

entry {
  text-color: @selected-foreground;
}

case-indicator {
  text-color: @selected-foreground;
  background-color: transparent;
}


textbox {
  background-color: @background;
  padding: 0.5em;
}

listview {
  dynamic: false;
  cycle: false;
  spacing: 0.25em;
  background-color: transparent;
  border: 0;
  scrollbar: false;
}

element {
  padding: 0.35em;
  spacing: 0.5em;
}


element-icon {
  size: 2em;
}

element-text {
  vertical-align: 0.5;
}

element.selected.normal,
element.selected.active {
  background-color: @background;
  text-color: @selected-foreground;
  border: 4px;
  border-color: @border-selected;
}

element.normal.normal,
element.alternate.normal {
  background-color: @background;
  border: 2px;
}

/* vim:ft=css
